.nav-pills {
  .nav-link {
    margin-#{$left}: 0;
    margin-#{$right}: 6px;
    padding: 4px 10px;
    font-weight: bold;
    background: #4589ff;
    color: #fff;
    border: 1px solid #41454b;

    @include border-radius(20px);

    &:hover {
      background-color: #4589ff;

      @include border-radius(0.3em);
    }

    img {
      margin-#{$right}: 0.5em;
      vertical-align: -3px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    background-color: #4589ff;
    color: #fff;

    @include border-radius(0.3em);
  }
}
